<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="navBarFragment">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/display-odds">Display Odds</a>
            <a class="navbar-brand" href="/odds-by-match">Display Odds By Match</a>
            <a class="btn btn-primary" href="#">Sign In</a>
        </div>
    </nav>
</div>
</html>