<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head :: headFragment"></div>
    <title>Display Odds for a team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navBar :: navBarFragment"></div>
    <div class="container">
        <form class="form-inline my-2 my-lg-0" th:action="@{/display-odds}"
              th:object="${inputTeam}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter team name here." aria-label="Search"
                   th:field="*{teamName}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!--<h3>Your team's probability of winning is <span th:text="${teamProbabilityToWin.probabilityToWin}"> </span></h3>-->
    </div>
</body>
</html>