<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Hello!</title>
</head>
<body>

<h3>Hello! Welcome to Betty!</h3>
<div>
    <a href="/calculate-odds">Click here to calculate your team's probability of winning. This includes a live searching of recent tweets on the corresponding team.</a>
</div>
<div>
    <a href="/display-odds">Click here to display your team's probability of winning which was calculated based on tweets saved in the database. (WIP)</a>
</div>
</body>
</html>