<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="fragments/head :: headFragment"></div>
</head>

<body>
  <div th:replace="fragments/navBar :: navBarFragment"></div>
  <div th:replace="fragments/mastHead :: mastHeadFragment"></div>
  <div th:replace="fragments/iconsGrid :: iconsGridFragment"></div>
  <div th:replace="fragments/imageShowcases :: imageShowcasesFragment"></div>
  <div th:replace="fragments/testimonials :: testimonialsFragment"></div>
  <div th:replace="fragments/callToAction :: callToActionFragment"></div>
  <div th:replace="fragments/footer :: footerFragment"></div>
  <div th:replace="fragments/bootstrapCoreJs :: bootstrapCoreJsFragment"></div>
</body>

</html>
