<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headFragment"></div>
    <title>Odds By Match</title>
</head>
<body>
    <div th:replace="fragments/navBar :: navBarFragment"></div>
    <h1>Odds by match works</h1>
    <div th:replace="fragments/callToAction :: callToActionFragment"></div>
    <div th:replace="fragments/footer :: footerFragment"></div>
    <div th:replace="fragments/bootstrapCoreJs :: bootstrapCoreJsFragment"></div>
</body>
</html>